.blog 
.content-area {
  display: flex;
  flex-direction: column;
  margin-right: auto;
  margin-left: auto;
  width: auto;  
  padding-top: 4rem;
}
.entry-title {
  position: absolute;
  background: rgba(255, 255, 255, 0.4);
  width: 40%;
  margin-top: 2.25rem;
  padding: .75rem 1.5rem;
  a {
    color: #fff;
    text-decoration: none;
    max-width: 75%;
    &hover {
      color: blue;
    }
  }
}
.entry-meta {
  position: absolute;
  background: rgba(255, 255, 255, 0.4);
  color: #fff;
  display: inline-block;
  right: 0;
  a {
    color: white;
    text-decoration: none;
  }
}
.entry-content {
  p {
    color: black;
    margin-bottom: 1.5rem;
  }
}
//SINGLE FORUM
.single 
.content-area {
  padding-top: 5rem;
}

//BLOG FOOTER
.entry-footer {
  text-align: center;
  span {
    text-transform: uppercase;
    font-size: 13px;
    color: #9ab899;
    a {
      color: #9ab899;
      padding-left: 1rem;
    }
  }
}