.header-background {
  background: rgba(255, 255, 255, 0.4);
  width: 100vw;
}
.header {
  width: 100vw;
  height: 65px;
  padding-left: 3rem;
  padding-right: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  @include desktop {
    justify-content: space-between;
    padding-left: 3rem;
    max-width: 1240px;


  }
}
img.logo-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: .5rem;
  margin-bottom: .5rem;
  height: 50px;
}
.site-header.reverse-header {
  background-color: transparent;
  border-bottom: 0;
  position: absolute;
}
.menu-menu-1-container ul {
  display: unset;
  a {
    color: #9ab899;
  }
}