
.site-header {
  background-color: hsla(0,0%,100%,.85);
  border-bottom: 1px solid #e1e1e1;
  position: fixed;
  transition: top .10s linear;
  width: 100%;
  z-index: 3;
}
.site-header.reverse-header {
  background-color: transparent;
  border-bottom: 0;
  position: absolute;
  h1 {
    background: url(images/outdoorCollectiveHead.svg) no-repeat;
    background-size: 142px 42px;
  }
  .menu-menu-1-container ul {
    display: unset;
    a {
      color: #fff;
    }
  }
}
.site-header h1{
  background: url(images/outdoorCollectiveLogo.svg) no-repeat;
  background-size: 142px 42px;
  height: 42px;
  width: 165px;
  margin: 0;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  color: #9ab899;

}
.header {
  width: 100vw;
  height: 65px;
  padding-left: 3rem;
  padding-right: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  @include desktop {
    justify-content: space-between;
    padding-left: 3rem;
    max-width: 1240px;


  }
}


.menu-menu-1-container ul {
  display: unset;
  a {
    color: #9ab899;
  }
}
body.down header.clone {
  top: 0;
}