// IFRAME MOBILE and DESKTOP
// .mobile-gone {
//   display: none;
//   @include desktop {
//     display: unset;
//   }
// }
// BANNER
.home 
.hero-banner {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  @include desktop {
    height: 100vh
  }
}
.menu-item a {
  transition: all 0.25s ease-in-out; 
  &:hover {
    color: #de4d61;
  }
}
.home-subscribe {
  color: #de4d61;
  margin: 0;
  padding-top: 2rem;
}
.subscribe p {
  padding-bottom: 1rem;
}
.zephyr-tent-cap {
  font-size: 1.5rem;
  color: #9ab899;
  text-transform: uppercase;
  @include tablet {
    font-size: 2.5rem;
  }
}
.logo-sub {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.sub-caption {
  font-family: 'Playfair Display';
  font-weight: bold;
  font-style: normal;
  text-align: center;
  text-transform: capitalize;
  color: #9ab899;
  @include tablet {
    font-size: 2rem;
  }
  a {
    transition: all 0.25s ease-in-out; 
    color: #9ab899;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: normal;
    font-style: italic;
    @include tablet {
      font-size: 2rem;
    }
    &:hover {
      color: #de4d61
    }
  }
}
.newsletter {
  @include desktop {
  width: 34rem;
  }
}
  // ABOUT ZYPHER 
  .about-text {
    width: 737px;
    p {
      line-height: 1.2;
    }
  }
  .about-zypher {
    border-top: 3px solid white;
    padding: 3.5rem 0 3.5rem;
    @include desktop {
      display: flex;
      justify-content: center;
      flex-direction: column;
    }
  }


  // OUR TENTS
  .zypher-tents {
    padding: 3.5rem 0 2rem;
    .tents-text {
      max-width: 100%;
      margin: 0 auto;
      padding: 0 2%;
    }
  }
  .zypher-tents {
    ul {
      list-style-type: none;
      margin-bottom: 0;
      margin-left: 0;
      padding-left: 0;
        @include tablet {
          width: 65%;
          display: flex;
          flex-direction: column;
          margin: 0 auto;
        }
        @include desktop {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: auto;
    margin: 0 auto;
    padding-bottom: 3rem;
        }
    }
      li {
        list-style: none;
        border: 1px solid #e1e1e1;
        flex: 0 1 32%;
        position: relative;
        margin-bottom: 1rem;
      }
    }
    .home .zypher-tents .thumbnail-tents {
      background-color: #e1e1e1;
      overflow: hidden;
      position: relative;
        .wp-post-image {
          left: 50%;
          max-height: 250px;
          max-width: none;
          position: absolute;
          top:50%;
          transform: translate(-50%,-52%);
          width: auto;
          @include tablet {
            max-height: 325px;
          }
          @include window {
            max-height: 510px;
          }
          @include desktop {
            max-height: 250px;
          }
        }
    }
    img.tents {
        height: 100%;
        width: 100%;
    }
    .content p{
      color: black;
      line-height: 1.2;
      text-align: left;
      padding-left: 15px;
    }
    .content p::before {
      content: '\f192';
      padding-right: 5px;
      font-size: 14px;
      font-weight: 100;
      font-family: 'FontAwesome';
      height: 1px;
      width: 1px;
    }
 #padding {
   padding-bottom: 3rem;
 }
 .zephyr-title {
   position: relative;
   display:inline-block;

   &::before,
   &::after {
     content: '';
     height: 20%;
     display: block;
     position: absolute;
     @include desktop {
       height: 15%;
     }
   }
   &::before {
     background: #fff;
     z-index: -1;
     right: -15px;
     left: -15px;
     height: 100%;
   }
   &::after {
     background: #de4d61;
     width: 96vw;
     left: 50%;
     top: 9px;
     transform: translateX(-50%);
     z-index: -2;
     @include tablet {
       width: 62.4vw;
       top: 13px;
     }
     @include desktop {
       width: 30.6vw;
     }
   }
 }
  // STARY-NIGHT 
.stary-nights {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid white;
  text-align: center;
  @include desktop {
    height: 50vh;
  }
  h3 {
  margin: 0 auto;
  padding-top: 4rem;
  padding-bottom: 4rem;
  color: #fff;
  font-size: .9rem;
  @include tablet {
    font-size: 1.7rem;
    }
  }
}
//ADVENTURE 

.adventure {
  display: flex;
  text-align: center;
  .adventure-photos {
    width: 100%;
    padding: 3.5rem 0 2rem;
    @include desktop {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50%;
      height: 100vh;
      h2 {
        padding-bottom: 0;
      }
    }
  }
}
  .right-caption {
    display: none;
    @include tablet {
      display: none;
    }
    @include desktop {
      flex-direction: column;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 50%;
      padding-top: 3rem;
      padding-bottom: 3rem;
      p {
        color: #000
      }
    }
  }
  .adventure-cap {
    padding-bottom: 3rem;
    @include desktop {
      display: none;
    }
  }
