.sub-background {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.sub-text {
  padding: 3.5rem 0 2rem;
}
.italic {
  font-size: 4rem;
  font-family: 'Playfair Display';
  font-weight: normal;
  font-style: italic;
  padding: 0;
  @include tablet {
    font-size: 6rem;
  }
  .bold {
    font-weight: bold;
    font-style: normal;
  }
}
.page-template h3 {
  color: #fff;
  font-family: 'Playfair Display';
  font-weight: normal;
  font-style: normal;
  font-size: 1.5rem;
  @include tablet {
    font-size: 2rem;
  }
}

.mc4wp-form-fields p {
  display: flex;
  justify-content: center;
}
.mc4wp-form-fields input[type="submit"] {
  background-color: #9ab899;
  border: 0;
  color: #fff;
  text-transform: uppercase;
  &:hover {
    background-color: #404040;
  }
}